@font-face {
    font-family: "Sugarpunch";
    src: url('./SugarpunchDEMO.otf');
}

video {
    max-width: 100%;
    max-height: 35em;
}

h1 {
    padding: 1em 0 0 0;
    font-family: "Futura";
    font-weight: bold;
}

h2 {
    font-family: "Futura";
}

body {
    margin: auto;
    vertical-align: middle;
    text-align: center;
    font-family: 'Futura';
    max-width: 800px;
}

img {
    max-width: 100%;
}

#lyrics-container {
    padding: 2em 0em;
}

#final-song {
    padding: 1em 0em;
}

#lyrics {
    column-count: 3;
    text-align: left;
    display: inline-block;
}

#artifact-container {
    padding: 2em 0em 1em 0em;
}

#artifact-container > div {
    margin-bottom: 5em;
}

.artifact-left {
    text-align: left;
}

.artifact-right {
    text-align: right;
}

.date {
    padding: 10px 20px;
    color: white;
    box-shadow: 3px 3px 5px grey;
}

.artifact-left .date {
    background-color: #1d562b;
}

.artifact-right .date {
    background-color: #0f25d0;
}

#logic-container {
    padding: 2em 0 5em 0
}